{% extends "header.html" %}
{% block content %}

<div class="row">
    <div class="col">
        {% if form %}
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                <h3>{{ form.topic.label }}</h3>
                {{ form.topic(class="form-control") }}
                {% if form.topic.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.topic.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                <h3>{{ form.description.label }}</h3>
                {{ form.description(class="form-control") }}
                {% if form.description.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {{ form.submit() }}
        </form>
        {% endif %}
        {% if topicLst|length > 0 %}
            <div>
            <h3 class = "title">Current Topics</h3>
                <div class="list-group list-group-flush">
                {% for topic in topicLst %}
                    <a href="{{ url_for('forum.topic_detail', topic=topic.topic)}}" class = "list-group-item list-group-item-action">
                        <h4>{{topic.topic}} </h4> <p> posted by {{ topic.author.username }}</p>
                        <p style="color:grey">
                            {% if topic.content|length > 50 %}
                                {{topic.content[:50]}} ...</p>
                            {% else %}
                                {{ topic.content}}
                            {% endif %}
                    </a>
                {% endfor %}
                </div>
            </div>
        {% else %}
        <h3 class = "title">No topics right now</h3>
        {% endif %}
    </div>
</div>
{% endblock %}