{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if topicObj %}

{# Display card for the topic details #}
<div class="container">
  <h1>{{ topicObj.topic }}</h1>
  <h3> {{ topicObj.author.username }} on {{topicObj.date}} </h3>
  <p> {{ topicObj.content }}</p>
  
</div>

{# Comments #}
<div class="row">
  <div class="col-md-12">
    <h1> Comments <small class="float-right">{{ comments|length }} reviews</small></h1>
    <ul class="media-list">
      {% for post in comments %}
      <li class="media review-item">
        <img class="mr-3 comment-pic" src="data:image/png;base64,{{post.commenter.profile_pic}}" alt="">
        <div class="media-body">
          <span class="float-right">
            <small>{{ post.date }}</small>
          </span>
          <a href="{{ url_for('users.user_detail', username=post.commenter.username) }}">
            <strong>@{{ post.commenter.username }}</strong>
          </a>
          <p>
            {{ post.content }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if form %}
{# Comment form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.comment.label }}
        {{ form.comment(class="form-control") }}

        {% if form.comment.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.comment.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      {{ form.submit() }}
    </form>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}