{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {% if error %}
        <div class="alert alert-warning" role="alert">
            <span>{{ error }}</span>
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        <img class="propic" src="data:image/png;base64,{{image}}" alt="profile pic">
    </div>
    <div class="col">
        <h2>{{ username }}</h2>
    </div>
</div>
<h3>About {{ username}}</h3>
{% if about %}
<p>
    {{ about }}
</p>
{% else %}
<p>
    This user has not added an About Me.
</p>
{% endif %}
<h3>All Comments</h3>
<div class="row">
    <div class="col">
        {% for comment in comments %}
        <p> <b>{{comment['topic']}}</b> @ {{comment['date']}}</p>    
        <i>{{comment['content']}}</i> 
        <br>   
        {% endfor %}
    </div>
</div>
{% endblock %}